/* START global styles */
html {
  box-sizing: border-box;
}

body {
	font-family: 'Dosis', 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
}

.container {
	background-color: #6d6e72;
	color: #212122;
}

.tasks {
	border: 5px solid #6d6e72;
}

.row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.big-row {
	height: 60vh;
}

.medium-row {
	height: 20vh;
}

.little-row {
	height: 20vh;
}

.big-thing, .medium-thing, .little-thing {
	border: 2px solid #6d6e72;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;	
	-webkit-align-items: center;
	align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.big-thing {
	width: 100%;
	background-color: #ffd900;
}

.medium-thing {
	width: 33%;
	background-color: #28d8b2;
}

.little-thing {
	background-color: #539fd8;
}